@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "Crimson Text", serif;
  color: #0c0a0a;
}

/* NAVBAR */
.navbar-brand {
  font-family: "Great Vibes", cursive;
  font-size: 2rem;
  line-height: 1.5rem;
  margin-right: 50px;
  margin-top: 35px;
  margin-left: 20px;
}

.navbar-brand p {
  font-family: "Source Code Pro", monospace;
  text-align: center;
  font-size: 0.75rem;
}

.navbar {
  height: 90px;
  display: flex;
}

.nav-item {
  font-family: "Source Code Pro", monospace;
  margin: 0px 20px;
  font-size: 2rem;
  text-transform: uppercase;
}

.navbar .megamenu {
  padding: 1rem;
}

.nav-item a:hover {
  text-decoration: underline 0.5rem #d69c2f;
  text-underline-offset: 0.65rem;
}

/* NAVBAR SHOPPING CART */
.img-cart {
  width: 30px;
  margin-right: 50px;
  cursor: pointer;
}

/* NAVBAR DROPDOWN HERITAGE */
.list-unstyled a {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-size: 1rem;
}

.list-unstyled a:hover {
  text-decoration: none;
  font-weight: 400;
  color: #0c0a0a;
}

.list-unstyled li {
  padding: 20px 80px;
  border-right: 1px solid #555454;
}

.list-unstyled li:hover {
  background-color: #8fbcbb;
}

/* HEADER */
#header,
#header-heritage,
#header-wines {
  display: flex;
  font-family: "Crimson Text", serif;
  height: 75vh;
  line-height: 10px;
  justify-content: center;
  margin-top: 70px;
}

#header {
  background: url(img/winery1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#header-heritage {
  background: url(img/winery-heritage.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#header-wines {
  background: url(img/winery-wines.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#home-introduction {
  align-self: center;
  text-align: center;
}

#home-introduction h1 {
  color: #f9f8eb;
  font-size: 6.5rem;
  text-shadow: 2px 2px rgb(0, 0, 0);
}

/* LINKS */
a {
  color: #0c0a0a;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #d69c2f;
  font-weight: bold;
}

/* BUTTON */
.btn {
  background-color: #1a4876;
  color: white;
  font-family: "Source Code Pro", monospace;
  min-width: 200px;
}

.btn:hover {
  background-color: #d69c2f;
  color: white;
}

/* OTHER */
.grey {
  background-color: #e8e8fa;
}

.footer {
  background-color: #1a4876;
  color: #e8e8fa;
}

.footer li {
  cursor: pointer;
}

input {
  max-width: 400px;
}

/* FLIP CARDS */
.flip-card {
  background-color: transparent;
  perspective: 1000px;
  text-align: center;
}

.flip-card-inner {
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  background-color: #e8e8fa;
  color: black;
  transform: rotateY(180deg);
  font-size: 1.2vw;
}

.price {
  margin-top: 10px;
  font-size: 3vw;
  font-weight: bold;
}

.price-bottle {
  font-style: italic;
}

.details-wine p {
  margin: 0px;
}

/* MEDIA QUERIES */

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
  .navbar .has-megamenu {
    position: static !important;
  }
  .navbar .megamenu {
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 0;
    background-color: #e8e8fa;
  }

  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: -1rem;
  }
}
/* ============ desktop view end// ============ */

/* ============ mobile view ============ */
@media (max-width: 991px) {
  .navbar.fixed-top .navbar-collapse,
  .navbar.sticky-top .navbar-collapse {
    overflow-y: auto;
    max-height: 90vh;
    margin-top: -20px;
    background-color: #e8e8fa;
  }
  #header {
    height: 60vh;
  }

  #header-heritage {
    height: 60vh;
  }

  #header-wines {
    height: 60vh;
  }

  .megamenu {
    background-color: #e8e8fa;
  }

  #home-introduction h1 {
    font-size: 9vw;
  }

  .img-cart {
    display: none;
  }

  .list-unstyled li {
    padding: 20px;
  }

  .navbar-brand {
    margin-right: 0px;
    margin-top: 20px;
  }

  .list-unstyled li {
    padding: 20px;
    border-right: 0px;
  }

  .navbar img {
    display: none;
  }

  .navbar-toggler {
    margin-top: -20px;
  }

  #wine-list-desktop {
    display: none;
  }

  .flip-card-back {
    font-size: 2.5vw;
  }

  .price {
    font-size: 6vw;
  }
}

@media (max-width: 768px) {
  .flip-card-back {
    font-size: 4.5vw;
  }

  .price {
    font-size: 8vw;
  }
}

/* ============ mobile view end// ============ */
